<div class="card" *ngIf="quiz">
    <h2>
        <i class="fas fa-dumbbell" *ngIf="quiz.theme === 'Sport'"></i>
        <i class="fab fa-leanpub" *ngIf="quiz.theme === 'Actor'"></i>
        Nom: {{quiz.name}} <br>
        <span> Theme: {{quiz.theme}} </span> <br>
        <span> Nombre de questions: {{quiz.questions.length}} </span>
    </h2>
    <button class="button-card" (click)="selectQuiz()">Select</button>
    <button type="delete" class="button-card" (click)="deleteQuiz()">Delete</button>
</div>
